<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorator="template">
<head>
<meta charset="UTF-8">
<title>Form Cinema</title>
</head>
<body>
	<div layout:fragment="pageContent">
		<div class="container mt-5">
			<div class="card">
				<div class="card-header">Enregistré</div>
				<div class="card-body">
					<div class="form-group">
						<label>ID: </label> <label class="font-weight-bold"
							th:text="${projection.id}"></label>
					</div>
					<div class="form-group">
						<label>date projection: </label> <label class="font-weight-bold"
							th:text="${projection.dateProjection}"></label>
		 			</div>

					<div class="form-group">
						<label>prix: </label> <label class="font-weight-bold"
							th:text="${projection.prix}"></label>
					</div>

					<div class="form-group">
						<label>film: </label> <label class="font-weight-bold"
							th:text="${projection.film.titre}"></label>
					</div>

					<div class="form-group">
						<label>Salle:</label> <label class="font-weight-bold"
							th:text="${projection.salle.name}"></label>
					</div>

					<div class="form-group">
						<label>Seance :</label> <label class="font-weight-bold"
							th:text="${projection.seance.heureDebut}"></label>
					</div>


				</div> 
			</div>
		</div>
		<footer>
			<div class="footer-copyright text-center py-3">© 2020 Copyright:Yousra DARHBAR
				
			</div>
			<!-- Copyright -->
		</footer>
	</div>
</body>
</html>
