<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorator="template">
<head>
<meta charset="UTF-8">
<title>Form Cinema</title>
</head>
<body>
	<div layout:fragment="pageContent">
		<div class="container mt-5">
			<div class="d-flex justify-content-center">
				<div class="card " style="width: 500px;">
					<div class="card-header" th:if="${mode=='new'}">Formulaire de saisie de nouveau cinema</div>
					<div class="card-header" th:if="${mode=='edit'}">Formulaire	de mise a jour de cinema</div>
					<div class="card-body">
						<form th:action="@{saveCinema}" method="post">
							<div class="form-group">
								<label class="control-label">ID: </label> 
								<label class="control-label" th:text="${cinema.id}"></label>
								<input	type="hidden" name="id" class="form-control" th:value="${cinema.id}">
							</div>
							<div class="form-group">
								<label class="control-label">Altitude: </label> 
								<input type="text" name="altitude" class="form-control"	th:value="${cinema.altitude}"> 
								<span th:errors=${cinema.altitude} class="text-danger"></span>
							</div>
							<div class="form-group">
								<label class="control-label">Latitude: </label> 
								<input type="text" name="latitude" class="form-control" th:value="${cinema.latitude}"> 
								<span th:errors=${cinema.latitude} class="text-danger"></span>
							</div>
							<div class="form-group">
								<label class="control-label">Longitude: </label> 
								<input name="longitude" class="form-control" th:value="${cinema.longitude}"> 
									<span th:errors=${cinema.longitude} class="text-danger"></span>
							</div>
							<div class="form-group">
								<label class="control-label">Name:</label> 
								<input name="name" th:value="${cinema.name}" class="form-control"> 
								<span th:errors=${cinema.name} class="text-danger"></span>
							</div>
							<div class="form-group">
								<label class="control-label">Nombre Salle:</label>
								 <input	name="nombreSalles" th:value="${cinema.nombreSalles}" class="form-control"> 
								 <span	th:errors=${cinema.nombreSalles} class="text-danger"></span>
							</div>
							<div class="form-group">
								<label class="control-label">Ville:</label> 
								<select name="ville" class="form-control">
									<option th:each="v:${villes}" th:text="${v.name}" class="form-control" th:value="${v.id}"
									th:selected="${v.name}==${cinema.ville.name}" th:if="${mode=='edit'}"></option>
									
									<option th:each="v:${villes}" th:text="${v.name}" class="form-control" th:value="${v.id}"
									 th:if="${mode=='new'}"></option>					
								</select>
							</div>

							<button class="bnt btn-success" type="submit">Ajouter</button>
						</form>
					</div>
				</div>
			</div>


		</div>
		<footer>
			<div class="footer-copyright text-center py-3">© 2020 Copyright 
			</div>
			<!-- Copyright -->
		</footer>
	</div>
</body>
</html>
,
